<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" mdbStickyHeader [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand nav-link waves-light" routerLink="/home">
        <img
          alt="Goblint Logo"
          src="assets/images/goblint_icon_white.png"
          alt="Goblint" 
          height="40" 
          id="goblint"
        />
      </a>
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/downloads" class="nav-link waves-light" mdbWavesEffect>Download</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/overview" class="nav-link waves-light" mdbWavesEffect>Overview</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/papers" class="nav-link waves-light" mdbWavesEffect>Papers</a>
        </li>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="http://www.cs.ut.ee/eng">
            <img src="assets/images/1200px-Tartu_logo.png" alt="Tartu Logo" height="40" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.in.tum.de/en.html">
            <img src="assets/images/TUM_Logo_weiss_rgb_s.svg" alt="TUM Logo" height="40" />
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->