<div class="row d-flex justify-content-center">
    <h2 class="m-5">Architecture</h2><br>
</div>
<div class="row d-flex justify-content-center mb-5">
    <div class="col"><p> 
        Goblint is implemented in OCaml and uses an updated fork of CIL as its parser frontend for the C language.
        The architecture of Goblint is designed to be modular. 
        Analyses, which are defined by their abstract domains and transfer functions, can be activated via runtime configuration options. 
        A flexible query system allows for communication between analyses. 
        Together, the combined analyses and the control-flow graphs of the functions in the program provide the side-effecting constraint system, 
        which is solved by some local generic solver. 
        Post-processing the solution yields results for the analysis.
    </p></div>
</div>
<div class="row d-flex justify-content-center">
    <h2>Overview of Goblint Features</h2><br>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-3 col-sm-6 mt-5"><h4>Race detection</h4><p class=""> The main application of this framework is for race detection. 
        Goblint checks  that all accesses to shared memory are protected by a common mutex.</p></div>
    <div class="col-md-3 col-sm-6 mt-5"><h4>Path-sensitivity</h4><p class=""> Goblint is path-sensitive, so it deals with conditional locking schemes as well as possibly failing, 
        interruptible and probing locking primitives. Mutexes may be handled both pathsensitively and symbolically.</p></div>
    <div class="col-md-3 col-sm-6 mt-5"><h4>Thread-modularity</h4><p class=""> Goblint performs thread-modular analysis of C programs. 
        It computes a sound upper approximation of all possible thread interleavings using global invariants for shared data.</p></div>
    <!-- TODO: fill the feature descriptions 
    <div class="col-md-3 col-sm-6 mt-5"><h4>Starvation analysis</h4><p class=""> ...</p></div>
    <div class="col-md-3 col-sm-6 mt-5"><h4>Incremental analysis of Git repositories</h4><p class="">Incremental analysis of Git repositories</p></div>
    <div class="col-md-3 col-sm-6 mt-5"><h4>Fixpoint algorithms</h4><p class=""> Generic fixpoint algorithms with widening and narrowing.</p></div>
    <div class="col-md-3 col-sm-6 mt-5"><h4>Global invariant</h4><p class=""> Global invariant approach and side-effecting.</p></div>
    <div class="col-md-3 col-sm-6 mt-5"><h4>HTML front-end</h4><p class=""> Visualisation of results.</p></div> -->
    
</div>

<div class="row d-flex justify-content-center">
    <h2 class="m-5">Example</h2>
</div>
<div class="row d-flex justify-content-center">
    <p class="text-justify">The following screenshot illustrates the result of running the analyzer on a simple program with a static array of mutexes. </p>
    <div class="m-5"><a href="images/screen.png" target="_self"><img src="assets/images/screen.png" alt="Screenshot" width="100%"/></a></div>
    <p class="text-justify">The safe incrementation function increases an element in the data array while acquiring the corresponding mutex; however,
        the main thread erroneously increments the third element while having locked the fourth lock.</p>
        
    <p class="text-justify">As the example shows, Goblint not only tracks the flow of locks in and out of functions, 
        but carefully considers the values and equalities between indexing variables to infer correlations. 
    </p> 
</div>
