<div class="row d-flex justify-content-center">
  <h2 class="m-5">Mixed Flow-Sensitive Static Analysis: Engineering Modularity</h2>
</div>

<div class="row d-flex justify-content-center">
  <p>
    Helmut Seidl<sup>1</sup>, Vesal Vojdani<sup>2</sup>, Julian Erhard<sup>3</sup>, and Michael Schwarz<sup>4</sup>
  </p>
</div>

<div class="row d-flex justify-content-center">
  <ol>
    <li>Technical University of Munich, Garching, Germany</li>
    <li>University of Tartu, Estonia</li>
    <li>CISPA Helmholtz Center for Information Security, Saarbrücken, Germany</li>
    <li>National University of Singapore, Singapore</li>
  </ol>
</div>

<div class="row d-flex justify-content-center mt-4">
  <p>
    Welcome to our tutorial at FM 2026. Closer to the date, we will publish useful information,
    such as an instruction on how to install Goblint. We're looking forward to you joining us.
  </p>
</div>
