<div class="row d-flex justify-content-center">
        <h2 class="m-5">Download, Installation and Support</h2>
</div>
<div class="row d-flex justify-content-center">
    <p>Please see the <a href="https://github.com/goblint/analyzer/blob/master/README.md">readme file</a> on our <a href="https://github.com/goblint/analyzer">github repository</a> for build and setup instructions.<br /> Prebuilt virtual machine images to test the analyzer are also available there.</p>
</div>
<div class="row d-flex justify-content-center">
    <p>For bug reports, please refer to our <a href="https://github.com/goblint/analyzer">repository pages on GitHub</a>.</p>
</div>
<div class="row d-flex justify-content-center">
    <p>You can also take a look at our <a href="https://goblint.readthedocs.io/en/latest/">documentation</a>.</p>
</div>

<div class="row d-flex justify-content-center">
        <h2 class="m-5">Citing Goblint</h2>
</div>

<div class="row d-flex justify-content-center">
    <p>For generic references to Goblint as a race detection tool, 
    please cite <a href="https://dl.acm.org/citation.cfm?id=2970337">this paper</a>: <br>
    <mdb-card class="mt-5">
        <mdb-card-header>
            <h5>Static race detection for device drivers: the Goblint approach</h5>
        </mdb-card-header>
        <mdb-card-body>
          <mdb-card-text>
            <pre>
                <code id="citation">
@inproceedings{{ '{' }}Goblint2016,
    author    = {{ '{' }}Vesal Vojdani and Kalmer Apinis and Vootele R{{ '{' }}\~{{ '{' }}o{{ '}' }}{{ '}' }}tov and 
                Helmut Seidl and Varmo Vene and Ralf Vogler{{ '}' }},
    title     = {{ '{' }}Static race detection for device drivers: the Goblint approach{{ '}' }},
    booktitle = {{ '{' }}Proceedings of the 31st {{ '{' }}IEEE/ACM{{ '}' }} International Conference on 
                Automated Software Engineering, {{ '{' }}ASE{{ '}' }} 2016{{ '}' }},
    pages     = {{ '{' }}391--402{{ '}' }},
    publisher = {{ '{' }}{{ '{' }}ACM{{ '}' }}{{ '}' }},
    year      = {{ '{' }}2016{{ '}' }},
    doi       = {{ '{' }}10.1145/2970276.2970337{{ '}' }}
{{ '}' }}
                </code>
            </pre>
        </mdb-card-text>
        <button  mdbBtn type="button" color="primary" mdbWavesEffect (click)="copyMessage('citation')" value="click to copy" >
            Copy citation <mdb-icon far icon="copy"></mdb-icon>
        </button>
    </mdb-card-body>
      </mdb-card>
</div>
