<div class="row d-flex justify-content-center mt-5 mb-5">
    <h2>Authors</h2>
</div>
<div class="row d-flex justify-content-center mt-5 mb-5">
    <div class="col-sm d-flex justify-content-center ">
        <img src="assets/images/1200px-Tartu_Ülikool_logo_blue.png" alt="Tartu Logo" height=60>
        <img src="assets/images/TUMLogo.png" alt="TUM Logo"  height=60>
    </div>
</div>
<div class="row mt-5 mb-5">
    <div class="col-sm float-right">
        <p>Goblint is developed at the Technische Universität München at the Chair of Formal Languages, Compiler Construction, Software
            Construction (<a href="http://www2.in.tum.de">Helmut Seidl</a>) and University of Tartu at the Laboratory for Software Science  (<a href="http://www.cs.ut.ee/~varmo">Varmo Vene</a>). It is distributed under the MIT license. </p>
    </div>
</div>
