<div class="row d-flex justify-content-center mt-5 mb-5">
    <h2>Current Contributors</h2>
</div>
<div class="row d-flex justify-content-center mt-5 mb-5">
    <div class="col-sm d-flex justify-content-center align-items-center ">
        <img src="assets/images/Tartu_Logo.svg" alt="Tartu Logo" height=76>
        <img src="assets/images/TUMLogo.png" alt="TUM Logo"  height=60>
    </div>
</div>
<div class="row mt-5 mb-5">
    <div class="col-sm float-right">
        <p>Goblint is developed at the Technische Universität München's Chair of Formal Languages, Compiler Construction, Software
            Construction (<a href="http://www2.in.tum.de">Helmut Seidl</a>) and University of Tartu's Laboratory for Software Science (<a href="http://sws.cs.ut.ee">Vesal Vojdani</a>). It is distributed under the MIT license. </p>
        <p>Over the years, many people have contributed to Goblint. See <a href="https://github.com/goblint/analyzer/graphs/contributors">GitHub</a> for a more complete list.
            These are the people currently contributing:</p>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-3 col-sm-6 mt-5" *ngFor="let author of authors">
        <mdb-card>
            <!--Card image-->
            <mdb-card-img src="assets/images/profiles/{{author.firstName}}_{{author.lastName}}.jpg" alt="Card image cap"></mdb-card-img>
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h5>{{author.firstName}} {{author.lastName}}</h5>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>
                  {{author.university}}
              </mdb-card-text>
              <mdb-card-text>
                  {{author.role}}
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
    </div>
</div>
