<div class="container">
    <div class="row">
        <div class="col-sm">
            <img
            alt="Angular Logo"
            src="assets/images/goblint.png"
            alt="Goblint"
            height="40"
            id="goblint"
            />
            <br>
            <br>
            <h2>A static analyzer for multi-threaded C programs, specializing in finding concurrency bugs.</h2>
        </div>
        <div class="col-sm float-right">
            <div class="mx-auto" style="width: 200px;">
            <a href="https://github.com/goblint/analyzer"><button type="button" mdbBtn class="unique-color text-white" mdbWavesEffect>GET STARTED</button></a>
        </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col"><div class="thumb-post"><img src="assets/images/Tartu_photo.jpg" class="img-fluid"></div></div>
        <div class="col"><div class="thumb-post"><img src="assets/images/TUM_photo.jpg" class="img-fluid"></div></div>
    </div>
</div>


<!--
 <h2>The Goblint Analyzer</h2>
<p>Goblint is a static analyzer for multi-threaded C programs, focusing primarily on data race detection. Goblint is developed at  the Technische Universität München (<a href="http://www2.in.tum.de">Helmut Seidl</a>) and University of Tartu (<a href="http://www.cs.ut.ee/~varmo">Varmo Vene</a>). It is distributed under the MIT license. </p>
<h3>Getting Started</h3>
<p>Find the source code and installation instructions on our <a href="https://github.com/goblint/analyzer">GitHub repository</a>.
<h3>Support</h3>
<p> For bug reports, please refer to our <a href="https://github.com/goblint/analyzer">repository pages on GitHub</a>. Feel free to send <a href="http://www.ut.ee/~vesal">Vesal Vojdani</a> an e-mail if you need assistance in installing and using the system.</p>
<h3>Citing Goblint</h3>
<p>For generic references to Goblint as a race detection tool,
please cite <a href="https://dl.acm.org/citation.cfm?id=2970337">this paper</a>:
-->
