<h2>The Goblint Analyzer</h2>
<p>Goblint is a static analyzer for multi-threaded C programs, focusing primarily on data race detection. Goblint is developed at  the Technische Universität München (<a href="http://www2.in.tum.de">Helmut Seidl</a>) and University of Tartu (<a href="http://www.cs.ut.ee/~varmo">Varmo Vene</a>). It is distributed under the MIT license. </p>
<h3>Getting Started</h3>
<p>Find the source code and installation instructions on our <a href="https://github.com/goblint/analyzer">GitHub repository</a>.
<h3>Support</h3>
<p> For bug reports, please refer to our <a href="https://github.com/goblint/analyzer">repository pages on GitHub</a>. Feel free to send <a href="http://www.ut.ee/~vesal">Vesal Vojdani</a> an e-mail if you need assistance in installing and using the system.</p>
<h3>Citing Goblint</h3>
<p>For generic references to Goblint as a race detection tool, 
please cite <a href="https://dl.acm.org/citation.cfm?id=2970337">this paper</a>:


